<!--header-->
<app-header></app-header>
<!--/header-->
<section id="advertisement">
  <div class="container">
    <img src="assets/images/shop/advertisement.jpg" alt="" />
  </div>
</section>
<section>
  <div class="container">
    <div class="row">
      <app-left-sidebar></app-left-sidebar>
      <div class="col-sm-9 padding-right">
        <div class="features_items">
          <!--features_items-->
          <h2 class="title text-center">Features Items</h2>
          <div style=" margin: auto; width: 15%; margin-top: 100px;height:120px" *ngIf="showSpinner == true">
            <app-loading-spinners></app-loading-spinners>
          </div>
          <div *ngIf="showSpinner == false" style="display:block">
            <div>
              <div class="col-sm-4" *ngFor="let product of products | slice:start:end">
                <app-shop-list-product [productItem]="product"></app-shop-list-product>
              </div>
            </div><!--features_items-->
            <div>
              <ul class="pagination">
                <li *ngFor="let item of this.products | paginate: { itemsPerPage: 9, currentPage: p }">  </li>
              </ul>
              <pagination-controls (pageChange)="onClick2($event)" class="my-pagination"></pagination-controls>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!--Footer-->
<app-footer></app-footer>
<!--/Footer-->
