.ng-valid[required], .ng-valid.required {
  border-left: 5px solid #42A948; /* green */
}

.ng-touched.ng-invalid:not(form) {
  border-left: 5px solid #a94442; /* red */
}

/** No CSS for this example */
mat-progress-bar {
  height: 2em;
}
img:hover{
    cursor:pointer;
}
