<!--header-->
<app-header></app-header>
<!--/header-->
<section>
  <div class="container">
    <div class="row">
      <app-left-sidebar></app-left-sidebar>
      <div class="col-sm-9">
        <div class="blog-post-area">
          <h2 class="title text-center">Latest From our Blog</h2>
          <div class="single-blog-post" *ngFor="let item of this.items | slice:start:end">
            <h3>{{item.title}}</h3>
            <div class="post-meta">
              <ul>
                <li><i class="fa fa-user"></i> Mac Doe</li>
                <li><i class="fa fa-clock-o"></i> {{item.time}}</li>
                <li><i class="fa fa-calendar"></i> {{item.date}}</li>
              </ul>
              <span>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star-half-o"></i>
              </span>
            </div>
            <a href="">
              <img [src]="item.imgUrl" alt="">
            </a>
            <p>{{item.details}}</p>
            <a class="btn btn-primary" href="">Read More</a>
          </div>
          <div>
            <ul class="pagination">
              <li *ngFor="let item of this.items | paginate: { itemsPerPage: 3, currentPage: p }">  </li>
            </ul>
            <pagination-controls (pageChange)="onClick2($event)" class="my-pagination"></pagination-controls>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!--Footer-->
<app-footer></app-footer>
<!--/Footer-->
